{% extends "base.html" %}

{% block content %}
<h2>YOUR LIBRARY</h2>
<form action="{{ url_for('home') }}" method="GET">
    <label for="sort">Sort by:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="">-- No Sorting --</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
    </select>
</form>
<div>{% with messages = get_flashed_messages(category_filter=["success_delete"]) %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
</div>
<ul>
    {% for book in books %}
      <li>
          <div style="width: 150px; height: 220px; background-image: url('{{ url_for('static', filename='placeholder.jpg') }}'); background-size: cover;">
              <img
                src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                alt="Cover of {{ book.title }}"
                height="220"
                style="display: block; width: 100%; height: 100%; object-fit: cover;">
          </div>
          {{ book.title }}<br>
          {{ book.author.name }}<br>
      </li>
    <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST">
        <button type="submit">Delete</button>
    </form>
    <br><br>
    {% endfor %}
</ul>

{% endblock %}